body {
	font-family: sans-serif;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-areas: "nav content" "nav footer";
	grid-template-columns: 20em auto;
	grid-template-rows: auto min-content;
	height: 100vh;
	align-items: stretch;
}

a {
	text-decoration: none;
}

a:focus {
	background-color: yellow;
}

#header {
	background-color: #efefef;
	grid-area: nav;
}

#footer {
	grid-area: footer;
}

#toc {
	padding: 1em;
}

#toc a {
	color: black;
}

#toc li {
	padding-bottom: .6em;
}

#toc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#toc ul ul {
	padding-left: 1.4em;
}

#toctitle {
	font-weight: bold;
	color: black;
}

h1 {
	font-size: 1.4em;
	font-weight: lighter;
	background-color: black;
	padding: .6em;
	margin: 0;
	color: white;
}

#toc a:hover {
	text-decoration: underline;
}

#content {
	background-color: white;
	grid-area: content;
	max-width: 1000px;
	padding: 1em;
}

#content img {
	max-width: 100%;
	vertical-align: middle;
}

pre {
	background-color: #f7f7f8;
	padding: 1em;
	word-wrap: break-word;
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid gray;
	padding: .4em;
}

th {
	background-color: #f9f9f9;
	text-align: left;
}

.imageblock.right {
	float: right;
}

hr {
	clear: both;
	border: 0;
	border-bottom: 1px solid #efefef;
	margin: 1em;
}

div.admonitionblock td {
	border: 0;
}

div.admonitionblock td:first-child {
	font-weight: bold;
}

.listingblock .title {
	background-color: #efefef;
	margin-bottom: -1em;
	padding: 1em;
}

@media (max-width: 700px) {
	body {
		display: block;
	}
}
